
[class="panel"]{
    height: 5rem;
    background-color: red;    
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px){
    .panel{
        height: 8rem;
        background-color: red;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px){
    .panel{
        height: 12rem;
        background-color: red;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px){
    .panel{
        height: 16rem;    
        background-color: red;
    }    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px){
    .panel{
        height: 20rem;    
        background-color: red;
    }    
}

@media only screen and (min-width: 1200px){
    .panel{
        height: 22rem;    
        background-color: red;
    }    
}
